#base64 user_name
CYODA_API_KEY=""
#base64 password
CYODA_API_SECRET=""
CYODA_HOST=YOUR_ENV_NAME_VAR.cyoda.net
CYODA_AI_API=cyoda
WORKFLOW_AI_API=workflow
CONNECTION_AI_API=connection
RANDOM_AI_API=random
TRINO_AI_API=trino
#this entity version will be used in your application, please update it if necessary
ENTITY_VERSION=1000
GRPC_PROCESSOR_TAG=5fd501d0-2b5b-11b2-b897-9621ea7ee88b
CHAT_ID=5fd501d0-2b5b-11b2-b897-9621ea7ee88b
#set to false once imported
IMPORT_WORKFLOWS = "true"